<style>
/* styles.css */


@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins.ttf') format('truetype'),
    url('../fonts/Poppins.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Remove the underline and change color for links */
a {
    text-decoration: none;  /* Removes underline */
    color: inherit;  /* Inherit the color from the parent element */
}

/* Remove visited link styles (purple color) */
a:visited {
    color: inherit;  /* Inherit color or specify a custom color */
    text-decoration: none;  /* Ensure no underline on visited links */
}

.navbar {
  position: fixed;/* Keep the navbar fixed at the top */
  top: 0;
  left: 0;
  width: 100%;/* Stretch the navbar across the screen */
  max-width: 100vw;/* Prevent horizontal overflow */
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;/* Ensure consistent padding */
  background-color: #000;/* Distinct background color */
  z-index: 1000;/* Ensure it's above all other elements */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);/* Subtle shadow for a clean look */
  box-sizing: border-box;/* Include padding in width calculations */
  overflow: hidden;/* Prevent content overflow */
}

body {
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
    height: 100vh;
    overflow: hidden; /* Prevent page scrollbars */
    display: flex;
    flex-direction: column;
}




/*.main {
  display: flex;
  margin-top: 40px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  box-sizing: content-box;
  overflow: hidden;
  height: 100vh;
}
*/

.main {
    display: flex;
    height: 100vh; /* Full height of the viewport */
    overflow: hidden; /* Prevent horizontal scrolling */
}

input {
  font-family: "Poppins", Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 60px;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-icon {
  background: none;
  border: none;
  color: #b3b3b3;
  font-size: 16px;
  cursor: pointer;
}

.nav-icon:hover {
  color: #fff;
}

.nav-home img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.nav-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #333;
  border-radius: 50px;
  padding: 5px 10px;
  width: 100%;
  max-width: 500px;
}

.search-input {
  flex-grow: 1;
  background: none;
  border: none;
  color: #fff;
  padding: 5px;
  font-size: 14px;
}

.search-input:focus {
  outline: none;
}

.search-icon {
  background: none;
  border: none;
  cursor: pointer;
}

.profile-pic{
  margin-top: 8px;
}

.nav-right .profile-pic img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
  background-color: #1f1f1f;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 10px;
}

.home svg {
  display: block;/* Ensures the SVG behaves as a block-level element */
  margin: 0 auto;/* Centers the SVG horizontally */
  padding: 10px;/* Adds some space around the SVG inside the border */
  border: 2px transparent #ffffff;/* Set the border color and thickness */
  border-radius: 50%;/* Makes the border rounded (circle shape) */
  background-color: #1f1f1f;

}

.notifs svg{
  margin-top: 10px;
}

/*SIDEBAR*/

/*.sidebar {
  flex-shrink: 0;
  width: 300px;
  height: 100vh;
  background-color: #181818;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  position: fixed;
  left: 5px;
}*/

.sidebar {
    flex-shrink: 0; /* Prevent shrinking */
    width: 300px; /* Fixed width */
    height: 625px; /* Full height of the viewport */
    overflow-y: auto; /* Enable vertical scrolling for content */
    position: fixed;
    top: 60px;
    left: 5px;
    background-color: #181818; /* Sidebar background */
    z-index: 100; /* Ensure it stays above other content */
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 8px;
}

.sidebar h2 {
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tab {
  padding: 5px 10px;
  font-size: 14px;
  color: #b3b3b3;
  background-color: #282828;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}

.tab:hover,
.tab.active {
  background-color: #fff;
  color: #333;
}

.search-bar-side {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.search-bar-side input {
  width: 100%;
  padding: 5px 10px;
  background-color: #282828;
  border: none;
  border-radius: 20px;
  color: #fff;
}

.recent-sort {
  font-size: 12px;
  color: #b3b3b3;
  text-align: right;
  cursor: pointer;
}

.recent-sort:hover {
  color: #fff;
}

.playlist {
  display: flex;
  align-items: center;
  gap: 10px;
/*  margin-bottom: 15px;*/
  padding: 10px 20px 10px 10px;
}

.playlist img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.playlist-info {
  display: flex;
  flex-direction: column;
  width: 210px;
}

.playlist-info span {
  font-size: 14px;
}

.playlist-info span:first-child {
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playlist-info span:last-child {
  font-size: 12px;
  color: #b3b3b3;
}

.playlist:hover {
  cursor: pointer;
}

/*MAIN CONTENT*/
/*.spotify-ui {
  width: 50%;
  max-width: 1200px;
  padding: 40px 65px;
  margin: 0 7px;
  background: linear-gradient(to bottom, #ff7e5f -50%, #000 80%);
  border-radius: 8px;
  position: relative;
  margin: auto;
}*/

.spotify-ui {
    position: relative;
    top: 60px;
    flex: 1; /* Take up remaining horizontal space */
    margin-left: 310px; /* Offset by sidebar width */
    margin-right: 327px; /* Offset by now-playing width */
    overflow-y: auto; /* Enable vertical scrolling */
    height: 100vh; /* Full height of the viewport */
    padding: 40px 40px 150px;
    box-sizing: border-box; /* Include padding in width/height */
    background: linear-gradient(to bottom, #ff8416  -50%, #000 60%);
    scrollbar-width: none; /* For Firefox */
    scroll-behavior: smooth;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
    border-radius: 9px;
  }


.spotify-ui::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}


.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-avatar img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-info h1 {
  margin: 0;
  font-size: 75px;
}

.profile-info p {
  margin: 5px 0 0 0;
  font-size: 14px;
  color: #b3b3b3;
  font-weight: 500;
}

.profile-info span{
  color: white;
}

.top-artists-section,
.top-tracks,
.playlist-header {
  margin-top: 30px;
}

.top-artists-section h2,
.top-tracks h2,
.playlist-header h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.top-artists-section p,
.top-tracks p,
.playlist-header p {
  font-size: 14px;
  color: #b3b3b3;
  margin-bottom: 20px;
  margin-top: 0;
}

.artists-grid {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
  justify-content: space-around;
  margin-top: 20px;
}

.artist {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.artist img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: #282828;/* Placeholder color */
}

.top-artists-section .cover img,
.top-artists-section .artists-grid img{
  width: 160px;
  height: 160px;
  object-fit: cover;
}

.top-artists-section.artists-grid.followers{
  justify-content: flex-start;
}

.artist span {
  font-size: 14px;
  color: #fff;
}

/*NOW PLAYING*/
/*.now-playing {
  display: flex;
  height: auto;
  background-color: #000;
  position: fixed;
  right: 0;
}*/

.now-playing {
    flex-shrink: 0; /* Prevent shrinking */
    width: 320px; /* Fixed width */
    height: 100vh; /* Full height of the viewport */
    position: fixed;
    top: 60px;
    right: 5px;
    background-color: #181818; /* Background color */
    z-index: 100; /* Ensure it stays above other content */
}


.right-section {
  width: 320px;
  padding: 2px;
/*  background-color: #181818;*/
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.video-container {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.background-video {
  width: 100%;
  height: 620px;
  object-fit: cover;
  border-radius: 8px;
  opacity: 0.5;
}

/* Overlay for Section Title */
.playing-info {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  z-index: 2;
  text-align: left;
}

.section-title {
  font-size: 0.9rem;
  color: #fff;
  margin-bottom: 8px;
}

/* Overlay for Artist Info */
.artist-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  z-index: 2;
  text-align: left;
}

.song-title {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

.artist-name {
  font-size: 1rem;
  color: #b3b3b3;
  margin-top: 0;
}

/* Optional: Related Section */
.related-section {
  font-size: 0.9rem;
  color: #b3b3b3;
}

.video-thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.thumbnail {
  width: 50px;
  height: 50px;
  background-color: #333;
  border-radius: 4px;
}

/*iframe {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
}*/

/*.CoverArtSingle_coverArtSingle__KLcKa{
  width: 64px;
  height: 64px;
}*/

/*LOCAL PLAYER*/

.player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;/* Ensures it stretches across the screen */
  max-height: 80px;/* Limits the height to avoid overflow */
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  box-sizing: border-box;/* Ensures padding does not affect dimensions */
  overflow: hidden;/* Hides any overflowing content */
}

.left-section,
.center-section,
.right-section {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;/* Prevents wrapping inside the player */
}

.center-section {
  flex: 1;
  flex-direction: column;
  align-items: center;
  max-width: 70%;/* Ensures it doesn't take too much space */
  /*overflow: hidden; Hides long text overflow */
  text-overflow: ellipsis;/* Adds ellipsis for long overflowing text */
  white-space: nowrap;/* Prevents text from wrapping */
}

.album-art {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
  flex-shrink: 0;/* Prevents shrinking on smaller screens */
}

.track-info {
  display: flex;
  flex-direction: column;
  overflow: hidden;/* Hides overflowing text */
}

.track-name {
  font-weight: 400;
  font-size: 14px;
  white-space: nowrap;/* Prevents wrapping */
  overflow: hidden;
  text-overflow: ellipsis;/* Adds ellipsis for overflowing text */
}

.track-artist {
  font-size: 12px;
  color: #aaa;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.control-button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.control-button:hover {
  color: white;
  transform: scale(1.05);
}


.play-pause {
  background-color: #fff; /* Set background color */
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%; /* Optional: Make it circular */
  width: 40px; /* Set width for circular shape */
  height: 40px; /* Set height for circular shape */
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-pause:hover {
  background-color: #fff; /* Change background color on hover */
  color: #fff;
}

.progress-bar {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  max-width: 530px;/* Prevents it from becoming too wide */
  flex: 1;/* Allows it to grow while respecting other sections */
}

.progress-bar input[type="range"] {
  flex: 1;
  appearance: none;
  height: 4px;
  background: linear-gradient(to right, white var(--progress), #555 var(--progress));
  border-radius: 2px;
  cursor: pointer;
}

.progress-bar input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.progress-bar input[type="range"]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.current-time,
.duration {
  font-size: 12px;
  color: #aaa;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: black;
/*  padding: 8px 12px;*/
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  flex-shrink: 0;/* Ensures it doesn't shrink */
  overflow: hidden;
}

.volume{
  display: flex;
  align-items: center;
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.volume svg{
  margin-right: 5px;
}

#volume-control {
  appearance: none;
  width: 100px;
  height: 4px;
  background: #555;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
/*  overflow: hidden;*/
}

#volume-control::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

#volume-control::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

/*TOP TRACKS*/
.top-tracks {
  max-width: 800px;
  margin: 0;
}
.track-list {
  margin-top: 20px;
}

.track {
  display: grid;
  grid-template-columns: 30px 50px 1fr 1fr 50px;
  align-items: center;
  gap: 15px;
  padding: 5px 0;
/*  border-bottom: 1px solid #282828;*/
  position: relative;
}

.track-number {
  font-size: 16px;
  color: #b3b3b3;
  cursor: pointer;
  transition: color 0.3s ease;
}

.track-number:hover {
  color: #1db954; /* Spotify green */
}

.track-cover {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;
}

.track-details {
  overflow: hidden;
}

.track-title {
  font-size: 16px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  font-weight: 500;
}

.track-artist {
  font-size: 14px;
  color: #b3b3b3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track-album {
  font-size: 14px;
  color: #b3b3b3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.track-duration {
  font-size: 14px;
  color: #b3b3b3;
  text-align: right;
}

.track-details p{
  margin: 0;
  font-size: 14px;
  color: #fff;
}

p.track-artist{
  color: #b3b3b3;
}



/*PUBLIC PLAYLISTS*/
.playlists-section {
  max-width: 1000px;
  margin: 0 auto;
}

.playlists-grid .playlist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.playlists-section .playlist-header h2 {
  margin-bottom: 15px;
}

.playlists-section .playlist-header .show-all {
  font-size: 14px;
  color: #1db954;
  text-decoration: none;
}

.playlists-section .playlist-header .show-all:hover {
  text-decoration: underline;
}

.playlists-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.playlists-grid .playlists {
  text-align: center;
}

.playlists-grid .playlist-cover {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  background-color: #282828;
}

.playlists-grid .playlist-title {
  font-size: 16px;
  color: white;
  margin-top: 10px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.playlists-grid .playlist-creator {
  font-size: 14px;
  color: #b3b3b3;
  margin: 0;
  text-align: left;
}

.artists-grid.followers,
.artists-grid.following{
  justify-content: flex-start;
}

.artists-grid.followers img,
.artists-grid.following img{
  width: 160px;
  height: auto;
} 

/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: 40px auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

#modal-caption {
  margin: 20px auto;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.artist{
  cursor: pointer;
}


@media only screen and (min-width: 325px) and (max-width: 768px){
  .background-video{
    height: 715px;
  }
  .now-playing{
    right: unset;
    position: absolute;
  }
  .right-section{
    width: 120.5%;
  }
  .nav-center,
  .progress-bar,
  .volume,
  .control-button.previous,
  .control-button.next,
  .sidebar,
  .playing-info,
  .artist-info{
    display: none;
  }
  .profile-avatar img{
    width: 130px;
    height: 130px;
  }
  .profile-info h1{
    font-size: 24px;
  }
  .top-artists-section .cover img, .top-artists-section .artists-grid img{
    width: 130px;
    height: 130px;
  }
  .artists-grid{
    flex-wrap: wrap;
  }
  .artist span{
    width: 145px;
  }
  .play-pause{
    margin-left: 120px;
  }
  .now-playing{
    z-index: 0;
  }
  .spotify-ui{
    z-index: 1;
    margin: 0;
    background: transparent;
    padding: 40px 20px 150px;
  }
  .modal-content{
    margin: 150px auto;
  }
  .close{
    top: 65px;
  }


}


</style>