<style type="text/css">
  /* styles.css */

@font-face {
    font-family: 'Gotham Book';
    src: url('fonts/GothamBook.otf') format('otf'),
         url('fonts/GothamBook.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  font-family: "Gotham Book", Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

input{
  font-family: "Gotham Book", Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 60px;
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-icon {
  background: none;
  border: none;
  color: #b3b3b3;
  font-size: 16px;
  cursor: pointer;
}

.nav-icon:hover {
  color: #fff;
}

.nav-home img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.nav-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #333;
  border-radius: 50px;
  padding: 5px 10px;
  width: 100%;
  max-width: 500px;
}

.search-input {
  flex-grow: 1;
  background: none;
  border: none;
  color: #fff;
  padding: 5px;
  font-size: 14px;
}

.search-input:focus {
  outline: none;
}

.search-icon {
  background: none;
  border: none;
  cursor: pointer;
}

.nav-right .profile-pic img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
  background-color: #1f1f1f;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 10px;
}

.home svg {
  display: block; /* Ensures the SVG behaves as a block-level element */
  margin: 0 auto; /* Centers the SVG horizontally */
  padding: 10px; /* Adds some space around the SVG inside the border */
  border: 2px transparent #ffffff; /* Set the border color and thickness */
  border-radius: 50%; /* Makes the border rounded (circle shape) */
  background-color: #1f1f1f;


</style>